@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p style="font-size: 40px; color: #ff8c00"><b>------जैन कॉन्फ्रेंस विहार यात्रा मार्गदर्शिका--------</b></p>
    <p style="font-size: 25px; color: #a52a2a; font-weight: bold">विहार सेवा, जिनशासन सेवा, अनमोल सेवा</p>
</div>
<div class="text-center">
    <br />
    <img src="/logo/ShwetamberLogo.png" width="350" height="200" />
</div>
